[user]
	name = Eric Keranen
	email = eric@erickeranen.com
[alias]
    hist = log --graph --oneline --decorate --all
[core]
    editor = vim
[diff]
	tool = bc5
[difftool]
	prompt = false
[difftool "bc5"]
	cmd = bcomp "$LOCAL" "$REMOTE"
	trustExitCode = true
[merge]
	tool = bc5
[mergetool]
	prompt = false
	keepBackup = false
[mergetool "bc5"]
	cmd = bcomp "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
	trustExitCode = true
